@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "abstracts/variables";

@import "base/reset";
@import "base/typography";

@import "components/menus";
@import "components/buttons";

@import "layouts/header";
@import "layouts/footer";

@import "pages/home";
@import "pages/global";
@import "pages/who-we-are";

/*------------------------------\
            TESTING
\------------------------------*/

.journey {
  background-color: $main-bg-clr;
  .img-container {
    align-items: center;

    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .hero {
    text-align: center;
  }
}
section {
  margin: 0 small(24);
}
.tour-2019 {
  @include media-md {
    // display: grid;
    // grid-template-columns: medium(378) medium(378);
    // column-gap: rem(24);
    // grid-template-areas:
    //   "A B"
    //   "A C"
    //   "A C"
    //   "A D"
    //   "E F"
      // ;
  }
  .img-container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;

    @include media-md {
      width: medium(378);
    }
  }

  p {
    margin: 0 small(24);
    &:nth-child(1) {
      grid-area: C;
    }
  }

  p,
  .img-container {
    margin-bottom: small(24);
  }

  .rivercruise {
    background-image: url("../assets/mobile/rivercruise.jpg");
    height: small(671.55);
    grid-area: A;
    @include media-md {
      background-image: url("../assets/tablet/rivercruise.jpg");
      height: medium(672);
    }
  }

  .woman-at-river {
    background-image: url("../assets/mobile/woman-at-river.jpg");
    height: small(283.75);
    grid-area: B;

    @include media-md {
      background-image: url("../assets/tablet/woman-at-river.jpg");
      height: medium(284);
    }
  }
  .cooking {
    background-image: url("../assets//mobile/cooking.jpg");
    height: small(504);
    grid-area: D;

    @include media-md {
      background-image: url("../assets/tablet/cooking.jpg");
      height: medium(504);
    }
  }
  .thorn-tree {
    background-image: url("../assets/mobile/thorn-tree.jpg");
    height: small(505.29);
    grid-area: E;

    @include media-md {
      background-image: url("../assets/tablet/thorn-tree.jpg");
      height: medium(505);
    }
  }
  .bamboo {
    background-image: url("../assets/mobile/bamboo.jpg");
    height: small(252);
  }
  .guide {
    background-image: url("../assets/mobile/guide.jpg");
    height: small(252);
  }
  .accomoadations {
    background-image: url("../assets/mobile/accomodationsjpg.jpg");
    height: small(247.97);
  }
  .accomoadations-2 {
    background-image: url("../assets/mobile/accomodations2.jpg");
    height: small(83.66);
  }
  .clinic {
    background-image: url("../assets/mobile/clinic1.jpg");
    height: small(252);
  }
  .clinic-2 {
    background-image: url("../assets/mobile/clinic2.jpg");
    height: small(585);
  }
  .clinic-3 {
    background-image: url("../assets/mobile/clinic3.jpg");
    height: small(252);
  }
  .dining {
    background-image: url("../assets/mobile/dining.jpg");
    height: small(252);
  }
  .frog {
    background-image: url("../assets/mobile/frog.jpg");
    height: small(500);
  }
  .snail {
    background-image: url("../assets/mobile/snail.jpg");
    height: small(250);
  }
  .monarch {
    background-image: url("../assets/mobile/monarch.jpg");
    height: small(250);
  }
  .monkey {
    background-image: url("../assets/mobile/monkey.jpg");
    height: small(211);
  }
  .quito {
    background-image: url("../assets/mobile/quito.jpg");
    height: small(562);
  }
  .lizard {
    background-image: url("../assets/mobile/lizard.jpg");
    height: small(282);
  }
}
