/*------------------------------\
            Typography
\------------------------------*/

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(26);

  &--large {
    font-size: rem(36);
    line-height: rem(48);

    @include media-lg {
      font-size: rem(56);
      line-height: rem(66);
    }
  }

  &--medium {
    font-size: rem(24);
    line-height: rem(36);
  }
  &--small {
    font-size: rem(12);
    line-height: rem(36);
  }
  &--bold {
    font-weight: 700;
  }
}
