/*------------------------------\
        PAGES - global
\------------------------------*/

main {
  color: $main-txt-clr;
  .hero-img {
    margin: auto;
    width: 100vw;
  }

  .mission {
    background-color: $desaturated-green;
    padding: rem(6) rem(61) rem(12) rem(61);
  }
}
