/*------------------------------\
        PAGES - global
\------------------------------*/
body {
  position: absolute;
}

main {
  color: $main-txt-clr;
  margin-top: small(100);
  min-width: 350px;
  overflow: scroll;
  position: relative;

  @include media-md {
    margin-top: medium(125);
  }

  @include media-lg {
    margin-top: large(175);
  }

  @include media-xl {
    margin-top: extra(150);
  }


  .hero-img {
    margin: auto;
    width: 100vw;
  }
}

.img-container {
    
  background-image: url('../assets/mobile/landing-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vw;
  overflow: hidden;
  width: 100vw;

  @include media-md {
    align-items: center;
    background-image: url("../assets/tablet/hero-landing-tablet.jpg");
    height: medium(434);
    justify-content: center;
    margin-bottom: rem(70);
    width: medium(773);
  }

  @include media-lg {
    background-image: url("../assets/web/landing-hero.jpg");
    // height: large(768);
    height: 100vh;
    width: large(1440);
  }
}
