/*------------------------------\
          PAGES - Home
\------------------------------*/

.home {
  .img-container {
    
    background-image: url('../assets/mobile/landing-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vw;
    width: 100vw;

    @include media-md {
      align-items: center;
      background-image: url("../assets/tablet/hero-landing-tablet.jpg");
      justify-content: center;
      margin-bottom: rem(70);
    }
  }
  .mission {
    background-color: $very-desaturated-green;
    padding: rem(6) rem(61) rem(12) rem(61);

    @include media-md {
      display: flex;
      flex-direction: column;
      height: rem(411);
      justify-content: center;
      width: rem(411);
    }
  }
  .action-card {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100vw;
    width: 100vw;
    text-align: center;

    @include media-md {
      height: rem(413);
      margin: auto;
      margin-bottom: rem(70);
      width: rem(413);
    }

    &__link {
      @extend %transition-ease;
      display: block;
      background-color: $btn-bg-clr;
      padding: rem(20.5) 0;
      text-decoration: underline;

      &:hover {
        @extend %transition-ease;
        background-color: $highlight-clr;
        font-size: rem(30);
      }
    }

    &--journey {
      background-image: url("../assets//mobile/journey.jpg");
    }

    &--blog {
      background-image: url("../assets/mobile/blog.jpg");
    }

    &--action {
      background-image: url("../assets/mobile/action.jpg");
    }
  }
}
