/* convert `pixel` to `rem` */
.btn, .home .action-card__link, .home .action-card__link:hover {
  transition: 500ms;
}

/*------------------------------\
            Variables
\------------------------------*/
/*------------------------------\
    Normalize CSS 
\------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Remove default margin and padding*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Remove list styles on ul and ol*/
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-size: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for 
people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------------------\
            Typography
\------------------------------*/
.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}

.text--large {
  font-size: 2.25rem;
  line-height: 3rem;
}

@media screen and (min-width: 1200px) {
  .text--large {
    font-size: 3.5rem;
    line-height: 4.125rem;
  }
}

.text--medium {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.text--small {
  font-size: 0.75rem;
  line-height: 2.25rem;
}

.text--bold {
  font-weight: 700;
}

.hamburger-menu {
  cursor: pointer;
  display: block;
  height: 20px;
  position: relative;
  width: 36px;
  z-index: 500;
}

@media screen and (min-width: 1200px) {
  .hamburger-menu {
    display: none;
  }
}

.hamburger-menu span {
  display: block;
  position: absolute;
  opacity: 1;
  left: 0;
  height: 5px;
  background-color: white;
  width: 100%;
}

.hamburger-menu span:hover {
  color: #74ba46;
}

.hamburger-menu span:nth-child(1) {
  top: 0px;
}

.hamburger-menu span:nth-child(2) {
  top: 10px;
}

.hamburger-menu span:nth-child(3) {
  top: 20px;
}

#burger {
  transition: 0.5s ease-in-out;
}

#burger span {
  transition: 0.5s ease-in-out;
}

#burger.open span {
  background-color: black;
  transition: 0.8s ease-in-out;
}

#burger.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

#burger.open span:nth-child(2) {
  opacity: 0;
  left: -36px;
}

#burger.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
  color: black;
}

.nav-menu {
  padding-top: 3.125rem;
  position: fixed;
  top: 0px;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: block;
  z-index: 200;
}

@media screen and (min-width: 1200px) {
  .nav-menu {
    background-color: transparent;
    display: flex;
    position: relative;
    padding: 0;
    width: auto;
    height: auto;
    left: auto;
  }
}

#mobile-menu.open {
  padding-top: 3.125rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: block;
  z-index: 200;
  transition: 0.8s ease-in-out;
}

#mobile-menu.open .btn {
  color: black;
  width: 100%;
}

#mobile-menu.open .btn__action {
  background-color: none;
}

.btn {
  display: block;
  font-size: 1.25rem;
  margin-right: 0.3125rem;
  padding: 0.875rem 1rem;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #74ba46;
  font-size: 1.375rem;
  padding: 1rem 1.125rem;
}

.btn--action {
  background-color: rgba(21, 117, 59, 0.75);
}

.btn--inert {
  opacity: 0.50;
}

.btn--inert:hover {
  background-color: transparent;
  font-size: 1.25rem;
  padding: 0.875rem 1rem;
}

/*------------------------------\
        LAYOUTS - header
\------------------------------*/
.header {
  color: white;
  background-color: rgba(43, 43, 43, 0.8);
  height: 26.66667vw;
  padding: 6.4vw;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

@media screen and (min-width: 600px) {
  .header {
    padding: 4.16667vw;
    height: 16.27604vw;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 2.5vw;
    height: 12.15278vw;
  }
}

@media screen and (min-width: 2000px) {
  .header {
    height: 7.5vw;
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .logo-container {
  align-items: center;
  display: flex;
}

.header .logo-container img {
  float: left;
  margin-right: 8px;
  width: 2.625rem;
}

@media screen and (min-width: 600px) {
  .header .logo-container img {
    width: 4.5rem;
  }
}

.header .logo-container .text {
  max-width: 10.9375rem;
}

@media screen and (min-width: 600px) {
  .header .logo-container .text {
    font-size: 1.5rem;
    line-height: 2.25rem;
    max-width: 15.625rem;
  }
}

/*------------------------------\
        LAYOUTS - Footer
\------------------------------*/
.footer {
  background-color: #548136;
  color: white;
  padding: 3.125rem;
  text-align: center;
  width: 100vw;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1.625rem;
  width: 12.5rem;
}

.footer li img {
  height: 2.51812rem;
}

/*------------------------------\
          PAGES - Home
\------------------------------*/
.home .hero {
  background-color: rgba(84, 129, 54, 0.5);
  padding: 0.375rem 3.8125rem 0.75rem 3.8125rem;
  overflow: scroll;
}

@media screen and (min-width: 600px) {
  .home .hero {
    display: flex;
    flex-direction: column;
    height: 25.6875rem;
    justify-content: center;
    width: 25.6875rem;
  }
}

@media screen and (min-width: 1200px) {
  .home .hero {
    height: 27.1875rem;
    width: 41.75rem;
  }
}

.home .card-container {
  background-color: white;
}

@media screen and (min-width: 1200px) {
  .home .card-container {
    display: flex;
    padding: 6.94444vw 2.70833vw;
  }
}

@media screen and (min-width: 2000px) {
  .home .card-container {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

.home .action-card {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100vw;
  width: 100vw;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .home .action-card {
    height: 25.8125rem;
    margin: auto;
    margin-bottom: 4.375rem;
    width: 25.8125rem;
  }
}

@media screen and (min-width: 1200px) {
  .home .action-card {
    padding: 0;
  }
}

.home .action-card__link {
  display: block;
  background-color: rgba(21, 117, 59, 0.75);
  padding: 1.28125rem 0;
  text-decoration: underline;
}

.home .action-card__link:hover {
  background-color: #74ba46;
  font-size: 1.875rem;
}

.home .action-card--journey {
  background-image: url("../assets/tablet/journey.jpg");
}

.home .action-card--blog {
  background-image: url("../assets/tablet/blog.jpg");
}

.home .action-card--action {
  background-image: url("../assets/tablet/action.jpg");
}

/*------------------------------\
        PAGES - global
\------------------------------*/
body {
  position: absolute;
}

.hero {
  background-color: rgba(84, 129, 54, 0.5);
  padding: 0.375rem 3.8125rem 0.75rem 3.8125rem;
  overflow: scroll;
}

@media screen and (min-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 25.6875rem;
    justify-content: center;
    width: 25.6875rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 27.1875rem;
    width: 41.75rem;
  }
}

main {
  color: white;
  margin-top: 26.66667vw;
  min-width: 350px;
  overflow: scroll;
  position: relative;
}

@media screen and (min-width: 600px) {
  main {
    margin-top: 16.27604vw;
  }
}

@media screen and (min-width: 1200px) {
  main {
    margin-top: 12.15278vw;
  }
}

@media screen and (min-width: 2000px) {
  main {
    margin-top: 7.5vw;
  }
}

main .hero-img {
  margin: auto;
  width: 100vw;
}

.img-container {
  background-image: url("../assets/mobile/landing-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vw;
  overflow: hidden;
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .img-container {
    align-items: center;
    background-image: url("../assets/tablet/hero-landing-tablet.jpg");
    height: 56.51042vw;
    justify-content: center;
    margin-bottom: 4.375rem;
    width: 100.65104vw;
  }
}

@media screen and (min-width: 1200px) {
  .img-container {
    background-image: url("../assets/web/landing-hero.jpg");
    height: 100vh;
    width: 100vw;
  }
}

/*------------------------------\
      PAGES - Who we are
\------------------------------*/
.who-we-are {
  background-color: rgba(43, 43, 43, 0.8);
}

.who-we-are .img-container {
  background-image: url("../assets/mobile/who-we-are.jpg");
}

@media screen and (min-width: 600px) {
  .who-we-are .img-container {
    background-image: url("../assets/tablet/who-we-are.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .who-we-are .img-container {
    background-image: url("../assets/web/who-we-are.jpg");
  }
}

.who-we-are .margin {
  margin: 6.4vw;
}

@media screen and (min-width: 600px) {
  .who-we-are .margin {
    margin: 5.20833vw;
  }
}

@media screen and (min-width: 1200px) {
  .who-we-are section {
    margin: auto;
    max-width: 56.25rem;
  }
}

.who-we-are h2 {
  margin-top: 2.5rem;
}

/*------------------------------\
        PAGES - Journey
\------------------------------*/
.journey {
  background-color: rgba(43, 43, 43, 0.8);
}

.journey .img-container {
  align-items: center;
  background-image: url("../assets/mobile/enrichment.jpg");
  display: flex;
  justify-content: center;
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .journey .img-container {
    background-image: url("../assets/tablet/enrichment.jpg");
  }
}

.journey .hero {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

section {
  margin: 0 6.4vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 {
    display: grid;
    grid-template-columns: 49.21875vw 49.21875vw;
    column-gap: 0.6875rem;
    grid-template-rows: repeat(133, meduim(25));
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 {
    grid-template-columns: 34.72222vw 34.72222vw;
  }
}

.tour-2019 .img-container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .img-container {
    width: 49.21875vw;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .img-container {
    width: 34.72222vw;
  }
}

@media screen and (min-width: 2000px) {
  .tour-2019 .img-container {
    max-width: 900px;
  }
}

.tour-2019 p {
  margin: 0 6.4vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 p {
    margin: 0 1.43229vw;
  }
}

.tour-2019 p,
.tour-2019 .img-container {
  margin-bottom: 6.4vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 p,
  .tour-2019 .img-container {
    margin: 0;
  }
}

.tour-2019 p {
  margin: 0 6.4vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 p {
    margin: 1.43229vw;
  }
}

.tour-2019 .rivercruise {
  background-image: url("../assets/mobile/rivercruise.jpg");
  height: 179.08vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .rivercruise {
    background-image: url("../assets/tablet/rivercruise.jpg");
    height: 87.5vw;
    grid-column: 1;
    grid-row: 1/27;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .rivercruise {
    background-image: url("../assets/web/rivercruise.jpg");
    height: 46.66667vw;
  }
}

.tour-2019 .woman-at-river {
  background-image: url("../assets/mobile/woman-at-river.jpg");
  height: 75.66667vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .woman-at-river {
    background-image: url("../assets/tablet/woman-at-river.jpg");
    height: 36.97917vw;
    grid-column: 2;
    grid-row: 1/11;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .woman-at-river {
    background-image: url("../assets/web/woman-at-river.jpg");
    height: 19.72222vw;
  }
}

.tour-2019 .people {
  grid-column: 2;
  grid-row: 11;
}

.tour-2019 .cooking {
  background-image: url("../assets//mobile/cooking.jpg");
  height: 134.4vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .cooking {
    background-image: url("../assets/tablet/cooking.jpg");
    height: 65.625vw;
    grid-column: 2;
    grid-row: 12/32;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .cooking {
    background-image: url("../assets/web/cooking.jpg");
    height: 35vw;
  }
}

.tour-2019 .thorn-tree {
  background-image: url("../assets/mobile/thorn-tree.jpg");
  height: 134.744vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .thorn-tree {
    background-image: url("../assets/tablet/thorn-tree.jpg");
    height: 65.75521vw;
    grid-column: 1;
    grid-row: 23/42;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .thorn-tree {
    background-image: url("../assets/web/thorn-tree.jpg");
    height: 35.06944vw;
  }
}

.tour-2019 .species {
  grid-column: 1;
  grid-row: 42/49;
}

.tour-2019 .bamboo {
  background-image: url("../assets/mobile/bamboo.jpg");
  height: 67.2vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .bamboo {
    background-image: url("../assets/tablet/bamboo.jpg");
    height: 32.8125vw;
    grid-column: 2;
    grid-row: 33/43;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .bamboo {
    background-image: url("../assets/web/bamboo.jpg");
  }
}

.tour-2019 .bamboo-para {
  grid-column: 2;
  grid-row: 43/49;
}

.tour-2019 .guide {
  background-image: url("../assets/mobile/guide.jpg");
  height: 67.2vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .guide {
    background-image: url("../assets/tablet/guide.jpg");
    height: 32.8125vw;
    grid-column: 2;
    grid-row: 49/55;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .guide {
    background-image: url("../assets/web/guide.jpg");
    height: 17.5vw;
  }
}

.tour-2019 .guide-para {
  grid-column: 2;
  grid-row: 55;
}

.tour-2019 .accomoadations {
  background-image: url("../assets/mobile/accomodationsjpg.jpg");
  height: 66.12533vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .accomoadations {
    background-image: url("../assets/tablet/accomodations.jpg");
    height: 32.8125vw;
    grid-column: 1;
    grid-row: 49/55;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .accomoadations {
    background-image: url("../assets/web/accomodations.jpg");
    height: 17.5vw;
  }
}

.tour-2019 .accomodations-para {
  grid-column: 1;
  grid-row: 55;
}

.tour-2019 .accomoadations-2 {
  background-image: url("../assets/mobile/accomodations2.jpg");
  height: 22.30933vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .accomoadations-2 {
    background-image: url("../assets/tablet/accomodations2.jpg");
    height: 10.89323vw;
    grid-column: 2;
    grid-row: 56/59;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .accomoadations-2 {
    background-image: url("../assets/web/accomodations2.jpg");
    height: 5.80972vw;
  }
}

.tour-2019 .clinic {
  background-image: url("../assets/mobile/clinic1.jpg");
  height: 67.2vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .clinic {
    background-image: url("../assets/tablet/clinic1.jpg");
    height: 32.8125vw;
    grid-column: 1;
    grid-row: 56/66;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .clinic {
    background-image: url("../assets/web/clinic1.jpg");
    height: 17.5vw;
  }
}

.tour-2019 .clinic-para {
  grid-column: 1;
  grid-row: 66;
}

.tour-2019 .clinic-2 {
  background-image: url("../assets/mobile/clinic2.jpg");
  height: 156vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .clinic-2 {
    background-image: url("../assets/tablet/clinic2.jpg");
    height: 76.17188vw;
    grid-column: 2;
    grid-row: 71/94;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .clinic-2 {
    background-image: url("../assets/web/clinic2.jpg");
    height: 40.625vw;
  }
}

.tour-2019 .clinic-3 {
  background-image: url("../assets/mobile/clinic3.jpg");
  height: 67.2vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .clinic-3 {
    background-image: url("../assets/tablet/clinic3.jpg");
    height: 32.8125vw;
    grid-column: 1;
    grid-row: 67/77;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .clinic-3 {
    background-image: url("../assets/web/clinic3.jpg");
    height: 17.5vw;
  }
}

.tour-2019 .dining {
  background-image: url("../assets/mobile/dining.jpg");
  height: 67.2vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .dining {
    background-image: url("../assets/tablet/dining.jpg");
    height: 32.8125vw;
    grid-column: 2;
    grid-row: 60/70;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .dining {
    background-image: url("../assets/web/dining.jpg");
    height: 17.5vw;
  }
}

.tour-2019 .dining-para {
  grid-column: 2;
  grid-row: 70;
}

.tour-2019 .frog {
  background-image: url("../assets/mobile/frog.jpg");
  height: 133.33333vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .frog {
    background-image: url("../assets/tablet/frog.jpg");
    height: 65.10417vw;
    grid-column: 1;
    grid-row: 78/98;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .frog {
    background-image: url("../assets/web/frog.jpg");
    height: 34.72222vw;
  }
}

.tour-2019 .species2 {
  grid-column: 1;
  grid-row: 98/101;
}

.tour-2019 .snail {
  background-image: url("../assets/mobile/snail.jpg");
  height: 66.66667vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .snail {
    background-image: url("../assets/tablet/snail.jpg");
    height: 32.8125vw;
    grid-column: 2;
    grid-row: 95/105;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .snail {
    background-image: url("../assets/web/snail.jpg");
    height: 17.5vw;
  }
}

.tour-2019 .snail-para {
  grid-column: 2;
  grid-row: 105/107;
}

.tour-2019 .monarch {
  background-image: url("../assets/mobile/monarch.jpg");
  height: 66.66667vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .monarch {
    background-image: url("../assets/tablet/monarch.jpg");
    height: 32.8125vw;
    grid-column: 1;
    grid-row: 101/111;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .monarch {
    background-image: url("../assets/web/monarch.jpg");
    height: 17.5vw;
  }
}

.tour-2019 .monarch-para {
  grid-column: 1;
  grid-row: 109;
}

.tour-2019 .nest {
  background-image: url("../assets/mobile/nest.jpg");
  height: 65.86667vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .nest {
    background-image: url("../assets/tablet/nest.jpg");
    height: 32.16146vw;
    grid-column: 1;
    grid-row: 110/119;
  }
}

.tour-2019 .nest-para {
  grid-column: 1;
  grid-row: 120;
}

.tour-2019 .monkey {
  background-image: url("../assets/mobile/monkey.jpg");
  height: 56.26667vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .monkey {
    background-image: url("../assets/tablet/monkey.jpg");
    height: 27.47396vw;
    grid-column: 2;
    grid-row: 107/111;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .monkey {
    background-image: url("../assets/web/monkey.jpg");
    height: 14.65278vw;
  }
}

.tour-2019 .monkey-para {
  grid-column: 2;
  grid-row: 112;
}

.tour-2019 .quito {
  background-image: url("../assets/mobile/quito.jpg");
  height: 149.86667vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .quito {
    background-image: url("../assets/tablet/quito.jpg");
    height: 73.17708vw;
    grid-column: 2;
    grid-row: 113/135;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .quito {
    background-image: url("../assets/web/quito.jpg");
    height: 39.02778vw;
  }
}

.tour-2019 .quito-para {
  grid-column: 2;
  grid-row: 136;
}

.tour-2019 .lizard {
  background-image: url("../assets/mobile/lizard.jpg");
  height: 75.2vw;
}

@media screen and (min-width: 600px) {
  .tour-2019 .lizard {
    background-image: url("../assets/tablet/lizards.jpg");
    height: 36.71875vw;
    grid-column: 1;
    grid-row: 121/132;
  }
}

@media screen and (min-width: 1200px) {
  .tour-2019 .lizard {
    background-image: url("../assets/web/lizards.jpg");
    height: 19.58333vw;
  }
}

.tour-2019 .galapagos-para {
  grid-column: 1;
  grid-row: 132;
}

@media screen and (min-width: 1200px) {
  .quito-para {
    grid-row: 130 !important;
    /* I don't know why but his has to be here */
  }
}

/*------------------------------\
            TESTING
\------------------------------*/
/*------------------------------\
      PAGES - Blog
\------------------------------*/
.blog {
  background-color: rgba(43, 43, 43, 0.8);
}

.blog .img-container {
  align-items: center;
  background-image: url("../assets/mobile/Blog_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .blog .img-container {
    background-image: url("../assets/tablet/Blog_1.jpg");
  }
}

.blog .img-container h1 {
  max-width: 15.625rem;
  margin-bottom: 1.5625rem;
}

@media screen and (min-width: 600px) {
  .blog .img-container h1 {
    max-width: 25rem;
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 600px) {
  .blog__post {
    display: flex;
    width: 100vw;
  }
}

.blog__post__img {
  height: 75.73333vw;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .blog__post__img {
    width: 50vw;
    height: 49.21875vw;
    overflow: hidden;
  }
}

.blog__post__text {
  padding: 1.25rem;
  height: 100.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .blog__post__text {
    height: 49.21875vw;
    width: 50vw;
  }
}

.blog__post__text h2 {
  margin-bottom: 1rem;
}

.blog__post__text h3 {
  margin-bottom: 1rem;
}

.blog__post__text cite {
  display: block;
  margin-top: 1.75rem;
}

.blog__post__text a {
  display: block;
  margin-top: 1.125rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.blog .nov-22-2021 .blog__post__img {
  background-image: url("../assets/mobile/blog-img-nov-22.jpg");
}

.blog .nov-15-2021 .blog__post__img {
  background-image: url("../assets/mobile/nov-15.jpg");
}

@media screen and (min-width: 600px) {
  .blog .nov-15-2021 {
    flex-direction: row-reverse;
  }
}

.blog .nov-2-2021 .blog__post__img {
  background-image: url("../assets/mobile/nov-2-2021.jpg");
}

.blog .oct-27-2021 .blog__post__img {
  background-image: url("../assets/mobile/oct-27-2021.jpg");
}

@media screen and (min-width: 600px) {
  .blog .oct-27-2021 {
    flex-direction: row-reverse;
  }
}

.blog .oct-26-2021 .blog__post__img {
  background-image: url("../assets/tablet/oct-26-2021.jpg");
}

.blog .oct-26-2021 .blog__post__img {
  background-image: url("../assets/mobile/oct-26-2021.jpg");
}

.blog .may-5-2021 .blog__post__img {
  background-image: url("../assets/mobile/may-5-2021.jpg");
}

@media screen and (min-width: 600px) {
  .blog .may-5-2021 {
    flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=main.css.map */