/*------------------------------\
        LAYOUTS - header
\------------------------------*/

.header {
  background-color: $main-bg-clr;
  padding: small(24);
  color: $main-txt-clr;

  @include media-md {
    padding: medium(32);
  }

  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .logo-container {
    align-items: center;
    display: flex;
    img {
      float: left;
      margin-right: 8px;
      width: rem(42);

      @include media-md {
        width: rem(72);
      }
    }
    .text {
      max-width: rem(175);

      @include media-md {
        font-size: rem(24);
        line-height: rem(36);
        max-width: rem(250);
      }
    }
  }

  
}

