/*------------------------------\
            Variables
\------------------------------*/

// Color Palette 
$dark-green: hsla(144, 70%, 27%, 1);
$desaturated-black: hsla(0, 0%, 0%, 0.16);
$desaturated-green: hsla(96, 41%, 36%, 0.84);
$desaturated-gray: hsla(0, 0%, 17%, 0.8);
$green: hsla(96, 41%, 36%, 1);
$gray: hsla(0, 0%, 44%, 1);
$white: hsla(0, 0%, 100%, 1);

// Background colors 
$main-bg-clr: $desaturated-gray;

// Text Colors
$main-txt-clr: $white;