@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "abstracts/variables";

@import "base/reset";
@import "base/typography";

@import "components/menus";
@import "components/buttons";
@import "components/blog-post";

@import "layouts/header";
@import "layouts/footer";

@import "pages/home";
@import "pages/global";
@import "pages/who-we-are";
@import "pages/journey";
@import "pages/blog";
@import "pages/take-action";

@import "shame/grid-hack";

/*------------------------------\
            TESTING
\------------------------------*/



/*------------------------------\
    PAGES - Call to Action
\------------------------------*/
.cta {
    background-color: $main-bg-clr;
  
    .hero {
      align-items: center;
      background-image: url('../assets/mobile/Arelio_take_action-mobile.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      height: 75vw;
      justify-content: center;
      margin: auto;
      

      @include media-md {
        background-image: url('../assets/tablet/Arelio_take-action-tablet.jpg');
      }

      @include media-lg {
        background-image: url('../assets/web/Arelio_take-action.jpg');
        height: 40vw;
        width: 40vw;
      }
    }

    .title {
        background-color: $mission-bg-clr;
        padding: small(8);
        text-align: center;
    }
  
    .cta-section {
      margin: small(24) auto;
      max-width: rem(800);
      text-align: center;
  
      @include media-md {
        column-gap: rem(24);
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      section {
        border: 4px solid white;
        max-width: rem(375);
        margin: rem(24) auto;
        padding: rem(24);
      }
  
      h2 {
        font-size: rem(30);
        line-height: rem(60);
      }
  
      input, .btn {
        display: block;
        margin: rem(24) auto;
      }

    }
  }